<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 與教學的檔案有所落差，教學的spring-03.xml 是這裡的 spring-04.xml -->
    <bean id="happyComponent" class="com.atguigu.ioc_03.HappyComponent"/>
</beans>